body{
    font-family: Verdana;
}
#baner1{
    float: left;
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
}
#baner2{
    /* clear: both; */
    float: left;
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 30%;
    height: 70px;
}
div.list{
    clear: both;
    background-color: #B0BEC5;
    height: 320px;
    overflow: scroll;
}
#stopka{
    float: left;
    width: 100%;
    background-color: #29434E;
    color: white;
}
div.film{
    padding: 5px;
    width: 226px;
    height: 280px;
    float: left;
}
h3{
    background-color: #546E7A;
    color: white;
    margin: 0px;
}
h4{
    text-align: center;
    margin: 0px;
}