body{
    background-color: cadetblue;
}
/* .hline{
    clear: both;
    margin: 20px;
    height: 2px;
    background-color: gray;
} */
input[type="submit"]{
    float: right;
}
.test{
    margin: 20px 40px 10px 40px;
}